<div>
    <h3>Khoá học của tôi</h3>
    <a href='/me/trash/courses'>Thùng rác({{coursesDelete}})</a>
</div>

<table class='table'>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Tên khóa học</th>
            <th scope='col'>Mô tả khóa học</th>
            <th scope='col'>URL hình ảnh</th>
            <th scope='col'>Video ID</th>
            <th scope='col'>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
            <tr>
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.image}}</td>
                <td>{{this.videoId}}</td>
                <td>
                    <a href='/courses/{{this.slug}}/edit'><button
                            type='button'
                            class='btn btn-outline-info'
                        >Sửa</button></a>
                    <button
                        type='button'
                        class='btn btn-outline-danger mt-4'
                        data-bs-toggle='modal'
                        data-bs-target='#deleteModal'
                        data-bs-whatever='{{this.slug}}'
                    >Xóa</button>
                </td>
            </tr>
        {{else}}

            <tr>
                <th class='text-center' colspan='6'>Bạn chưa đăng khóa học nào.
                    <a href='/courses/create'>Đăng khóa học ngay</a></th>
            </tr>

        {{/each}}
    </tbody>
</table>

{{! modal xác nhân xóa }}
<div class='modal fade' id='deleteModal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Bạn có chắc chắn muốn xóa khóa học này</h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                <form id='form-submit-delete' method='post'><button type='button' class='btn btn-primary'>Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src='/myCourses.js'></script>